body {
    background-color: #f0f0f0;
}

header {
    background-color: #005c00;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header>img{
    width: 200px;
    margin-bottom: 10px;
}

h1 {
    font-size: 55px;
    margin: 0;
}

h2 {
    font-size: 28px;
    margin-top: 10px;
}

.div {
    display:flex;
    justify-content: center;
    background-color: #71c55b;
}

.btn1 {
    display: inline-block;
    background-color: #71c55b;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
    margin: 20px;
}

.btn1:hover {
    background-color: #71c55b;
    font-size: x-large;
    color: black
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 20px;
    }
    .btn1 {
        font-size: 16px;
    }
}